<% @title = "Welcome" %>
<% content_for :include do %>
  <%= feed_tag(:rss, url(:contents, :index, :format => :rss),:title => "RSS") %>
  <%= feed_tag(:atom, url(:contents, :index, :format => :atom),:title => "ATOM") %>
<% end %>
<div id="contents"><%= partial 'contents/content', :collection => @contents %></div>
