!!! Strict
%html
  %head
    %title= [@title, "Simple Padrino CMS"].compact.join(" | ")
    = stylesheet_link_tag 'reset', 'application'
    = yield_content :include
  %body
    #wrap
      #header
        %h1 Padrino CMS
      #content
        = yield
      #footer
        Copyright (c) 2009-2010 Padrino
